.footer {
    height: 1.6em;
    background-color: #002159;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-top: 6.4rem;
}

.footer__copyright {
    font-size: 0.9rem;
    opacity: 1;
}