.hidden {
    display: none;
}

.error {
    position: absolute;
    top: -10%;
    color: red;
    letter-spacing: 2px;
    font-size: .8em;
}

.background--overlay {
    background: rgba(0, 0, 0, 0.55);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}